<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnrealMacroGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UnrealMacroGenerator.Properties.Settings>
            <setting name="UPROPERTY_MacroSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AdvancedDisplay</string>
                        <string>AssetRegistrySearchable</string>
                        <string>BlueprintAssignable</string>
                        <string>BlueprintAuthorityOnly</string>
                        <string>BlueprintCallable</string>
                        <string>BlueprintReadOnly</string>
                        <string>BlueprintReadWrite</string>
                        <string>Config</string>
                        <string>DuplicateTransient</string>
                        <string>EditAnywhere</string>
                        <string>EditDefaultsOnly</string>
                        <string>EditFixedSize</string>
                        <string>EditInline</string>
                        <string>EditInstanceOnly</string>
                        <string>Export</string>
                        <string>GlobalConfig</string>
                        <string>Instanced</string>
                        <string>Interp</string>
                        <string>Localized</string>
                        <string>Native</string>
                        <string>NoClear</string>
                        <string>NoExport</string>
                        <string>NonPIEDuplicateTransient</string>
                        <string>NonTransactional</string>
                        <string>NotReplicated</string>
                        <string>Replicated</string>
                        <string>RepRetry</string>
                        <string>SaveGame</string>
                        <string>SerializeText</string>
                        <string>SkipSerialization</string>
                        <string>SimpleDisplay</string>
                        <string>TextExportTransient</string>
                        <string>Transient</string>
                        <string>VisibleAnywhere</string>
                        <string>VisibleDefaultsOnly</string>
                        <string>VisibleInstanceOnly</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UPROPERTY_AdvancedSettings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BlueprintGetter</string>
                        <string>BlueprintSetter</string>
                        <string>Category</string>
                        <string>ReplicatedUsing</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UPROPERTY_MetaSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AllowAbstract;Bool</string>
                        <string>AllowedClasses;String</string>
                        <string>AllowPreserveRatio;NoInput</string>
                        <string>ArrayClamp;String</string>
                        <string>AssetBundles;NoInput</string>
                        <string>BlueprintBaseOnly;NoInput</string>
                        <string>BlueprintCompilerGeneratedDefaults;NoInput</string>
                        <string>ClampMin;Float</string>
                        <string>ClampMax;Float</string>
                        <string>ConfigHierarchyEditable;NoInput</string>
                        <string>ContentDir;NoInput</string>
                        <string>DisplayAfter;String</string>
                        <string>DisplayName;String</string>
                        <string>DisplayPriority;Int</string>
                        <string>DisplayThumbnail;Bool</string>
                        <string>EditCondition;String</string>
                        <string>EditFixedOrder;NoInput</string>
                        <string>ExactClass;Bool</string>
                        <string>ExposeFunctionCategories;String</string>
                        <string>ExposeOnSpawn;Bool</string>
                        <string>FilePathFilter;String</string>
                        <string>GetByRef;NoInput</string>
                        <string>HideAlphaChannel;NoInput</string>
                        <string>HideViewOptions;NoInput</string>
                        <string>InlineEditConditionToggle;NoInput</string>
                        <string>LongPackageName;NoInput</string>
                        <string>MakeEditWidget;NoInput</string>
                        <string>NoGetter;NoInput</string>
                        <string>Bitmask;NoInput</string>
                        <string>BitmaskEnum;String</string>
                        <string>ToolTip;String</string>
                        <string>ShortTooltip;String</string>
                        <string>ShowOnlyInnerProperties;NoInput</string>
                        <string>UIMin;Float</string>
                        <string>UIMax;Float</string>
                        <string>AllowPrivateAccess;Bool</string>
                        <string>TitleProperty;String</string>
                        <string>MultiLine;Bool</string>
                        <string>BindWidget;NoInput</string>
                        <string>BindWidgetOptional;NoInput</string>
                        <string>BindWidgetAnimation;NoInput</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UFUNCTION_MacroSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BlueprintAuthorityOnly</string>
                        <string>BlueprintCallable</string>
                        <string>BlueprintCosmetic</string>
                        <string>BlueprintGetter</string>
                        <string>BlueprintImplementableEvent</string>
                        <string>BlueprintInternalUseOnly</string>
                        <string>BlueprintNativeEvent</string>
                        <string>BlueprintPure</string>
                        <string>BlueprintSetter</string>
                        <string>CallInEditor</string>
                        <string>Client</string>
                        <string>CustomThunk</string>
                        <string>Exec</string>
                        <string>NetMulticast</string>
                        <string>Reliable</string>
                        <string>SealedEvent</string>
                        <string>ServiceRequest</string>
                        <string>ServiceResponse</string>
                        <string>Server</string>
                        <string>Unreliable</string>
                        <string>WithValidation</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UFUNCTION_AdvancedSettings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Category</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UFUNCTION_MetaSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AdvancedDisplay;String</string>
                        <string>ArrayParm;String</string>
                        <string>ArrayTypeDependentParams;String</string>
                        <string>AutoCreateRefTerm;String</string>
                        <string>BlueprintAutocast;NoInput</string>
                        <string>BlueprintInternalUseOnly;NoInput</string>
                        <string>BlueprintProtected;NoInput</string>
                        <string>CallableWithoutWorldContext;NoInput</string>
                        <string>CommutativeAssociativeBinaryOperator;NoInput</string>
                        <string>CompactNodeTitle;String</string>
                        <string>CustomStructureParam;String</string>
                        <string>DefaultToSelf;NoInput</string>
                        <string>DeprecatedFunction;NoInput</string>
                        <string>DeprecationMessage;String</string>
                        <string>DevelopmentOnly;NoInput</string>
                        <string>DisplayName;String</string>
                        <string>ExpandEnumAsExecs;String</string>
                        <string>HidePin;String</string>
                        <string>HideSelfPin;NoInput</string>
                        <string>InternalUseParam;String</string>
                        <string>KeyWords;String</string>
                        <string>Latent;NoInput</string>
                        <string>LatentInfo;String</string>
                        <string>MaterialParameterCollectionFunction;NoInput</string>
                        <string>NativeBreakFunc;NoInput</string>
                        <string>NotBlueprintThreadSafe;NoInput</string>
                        <string>ToolTip;String</string>
                        <string>ShortTooltip;String</string>
                        <string>UnsafeDuringActorConstruction;NoInput</string>
                        <string>WorldContext;String</string>
                        <string>Variadic;NoInput</string>
                        <string>DeterminesOutputType;String</string>
                        <string>DynamicOutputParam;String</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UCLASS_MacroSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Abstract</string>
                        <string>AdvancedClassDisplay</string>
                        <string>Blueprintable</string>
                        <string>BlueprintType</string>
                        <string>CollapseCategories</string>
                        <string>Const</string>
                        <string>ConversionRoot</string>
                        <string>CustomConstructor</string>
                        <string>DefaultToInstanced</string>
                        <string>DependsOn</string>
                        <string>Deprecated</string>
                        <string>DontCollapseCategories</string>
                        <string>EditInlineNew</string>
                        <string>HideDropdown</string>
                        <string>Intrinsic</string>
                        <string>MinimalAPI</string>
                        <string>NoExport</string>
                        <string>NonTransient</string>
                        <string>NotBlueprintable</string>
                        <string>NotPlaceable</string>
                        <string>PerObjectConfig</string>
                        <string>Placeable</string>
                        <string>Transient</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UCLASS_AdvancedSettings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AutoCollapseCategories</string>
                        <string>AutoExpandCategories</string>
                        <string>ClassGroup</string>
                        <string>Config</string>
                        <string>DontAutoCollapseCategories</string>
                        <string>HideCategories</string>
                        <string>HideFunctions</string>
                        <string>ShowCategories</string>
                        <string>Within</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UCLASS_MetaSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BlueprintSpawnableComponent;NoInput</string>
                        <string>BlueprintThreadSafe;NoInput</string>
                        <string>ChildCannotTick;NoInput</string>
                        <string>ChildCanTick;NoInput</string>
                        <string>DeprecatedNode;NoInput</string>
                        <string>DeprecationMessage;String</string>
                        <string>DisplayName;String</string>
                        <string>DontUseGenericSpawnObject;NoInput</string>
                        <string>ExposedAsyncProxy;NoInput</string>
                        <string>IgnoreCategoryKeywordsInSubclasses;NoInput</string>
                        <string>IsBlueprintBase;Bool</string>
                        <string>KismetHideOverrides;String</string>
                        <string>ProhibitedInterfaces;String</string>
                        <string>RestrictedToClasses;String</string>
                        <string>ShortToolTip;String</string>
                        <string>ShowWorldContextPin;NoInput</string>
                        <string>UsesHierarchy;NoInput</string>
                        <string>ToolTip;String</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="USTRUCT_MacroSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Atomic</string>
                        <string>BlueprintType</string>
                        <string>NoExport</string>
                        <string>Immutable</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="USTRUCT_MetaSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BlueprintSpawnableComponent;NoInput</string>
                        <string>BlueprintThreadSafe;NoInput</string>
                        <string>ChildCannotTick;NoInput</string>
                        <string>ChildCanTick;NoInput</string>
                        <string>DeprecatedNode;NoInput</string>
                        <string>DeprecationMessage;String</string>
                        <string>DisplayName;String</string>
                        <string>DontUseGenericSpawnObject;NoInput</string>
                        <string>ExposedAsyncProxy;NoInput</string>
                        <string>IgnoreCategoryKeywordsInSubclasses;NoInput</string>
                        <string>IsBlueprintBase;Bool</string>
                        <string>KismetHideOverrides;String</string>
                        <string>ProhibitedInterfaces;String</string>
                        <string>RestrictedToClasses;String</string>
                        <string>ShortToolTip;String</string>
                        <string>ShowWorldContextPin;NoInput</string>
                        <string>UsesHierarchy;NoInput</string>
                        <string>ToolTip;String</string>
                        <string>HasNativeBreak;String</string>
                        <string>HasNativeMake;String</string>
                        <string>HiddenByDefault;NoInput</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UENUM_MacroSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BlueprintType</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UENUM_MetaSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Bitflags;NoInput</string>
                        <string>Experimental;NoInput</string>
                        <string>ScriptName;String</string>
                        <string>ToolTip;String</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UINTERFACE_MacroSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Blueprintable</string>
                        <string>NoBlueprintable</string>
                        <string>MinimalAPI</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UINTERFACE_MetaSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CannotImplementInterfaceInBlueprint;NoInput</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UMETA_MetaSpecifiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DisplayName;String</string>
                        <string>Hidden;NoInput</string>
                        <string>ToolTip;String</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UE_LOG_LogCategory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>LogTemp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UPROPERTY_Document" serializeAs="String">
                <value>https://docs.unrealengine.com/en-US/Programming/UnrealArchitecture/Reference/Properties/Specifiers/index.html</value>
            </setting>
            <setting name="UFUNCTION_Document" serializeAs="String">
                <value>https://docs.unrealengine.com/en-US/Programming/UnrealArchitecture/Reference/Functions/index.html</value>
            </setting>
            <setting name="UCLASS_Document" serializeAs="String">
                <value>https://docs.unrealengine.com/en-US/Programming/UnrealArchitecture/Reference/Classes/Specifiers/index.html</value>
            </setting>
            <setting name="USTRUCT_Document" serializeAs="String">
                <value>https://docs.unrealengine.com/en-US/Programming/UnrealArchitecture/Reference/Structs/Specifiers/index.html</value>
            </setting>
            <setting name="UENUM_Document" serializeAs="String">
                <value />
            </setting>
            <setting name="UINTERFACE_Document" serializeAs="String">
                <value />
            </setting>
            <setting name="UMETA_Document" serializeAs="String">
                <value />
            </setting>
            <setting name="Logging_Document" serializeAs="String">
                <value>https://docs.unrealengine.com/en-US/Programming/UnrealArchitecture/StringHandling/FString/index.html</value>
            </setting>
            <setting name="Delegate_Document" serializeAs="String">
                <value>https://docs.unrealengine.com/en-US/Programming/UnrealArchitecture/Delegates/index.html</value>
            </setting>
            <setting name="UPROPERTY_Template" serializeAs="String">
                <value />
            </setting>
            <setting name="UFUNCTION_Template" serializeAs="String">
                <value />
            </setting>
            <setting name="UCLASS_Template" serializeAs="String">
                <value>      class UTemplateClass : public UObject
      {
        GENERATED_BODY()
      };</value>
            </setting>
            <setting name="USTRUCT_Template" serializeAs="String">
                <value>      struct FTemplateStruct
      {
        GENERATED_BODY()
      };</value>
            </setting>
            <setting name="UENUM_Template" serializeAs="String">
                <value>      enum class ETemplateEnum : uint8
      {
      
      };</value>
            </setting>
            <setting name="UINTERFACE_Template" serializeAs="String">
                <value>      class UTemprateInterface : public UInterface
      {
        GENERATED_BODY()
      };

      class ITemprateInterface
      {
        GENERATED_BODY()
      };</value>
            </setting>
            <setting name="UMETA_Template" serializeAs="String">
                <value />
            </setting>
            <setting name="MainColor" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>70, 70, 70</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LinkColor" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
        </UnrealMacroGenerator.Properties.Settings>
    </userSettings>
</configuration>